<a href="https://colab.research.google.com/github/honghyelim/ALL_SQL/blob/main/sqlite_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## sqlalchemy
- 파이썬에서 사용가능한 ORM  
- ORM은 객체와 관계를 연결해주는 것
- 데이터 베이스의 데이터 <--매핑--> 객체 필드

In [23]:
#접속하기
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True) #DB 정의
engine.execute("select 1").scalar() #엔진 연결

2021-07-06 03:07:24,737 INFO sqlalchemy.engine.Engine select 1
2021-07-06 03:07:24,742 INFO sqlalchemy.engine.Engine [raw sql] ()

1

In [24]:
#매핑 선언
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [25]:
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'                     #users 테이블 생성

    id = Column(Integer, primary_key=True)      #컬럼
    name = Column(String)
    fullname = Column(String)
    password = Column(String)

    def __init__(self, name, fullname, password):
        self.name = name
        self.fullname = fullname
        self.password = password

    def __repr__(self):
        return "<User('%s', '%s', '%s')>" % (self.name, self.fullname, self.password)

In [15]:
#인스턴스 만들기
ed_user = User('haruair', 'Edward Kim', '1234')
ed_user.name        # 'haruair'
ed_user.password    # '1234'
str(ed_user.id)     # 'None'

'None'

In [16]:
#세션 만들기
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [17]:
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [18]:
#새 객체 추가하기
ed_user= User('haruair', 'Edward Kim', '1234')
session.add(ed_user)

In [29]:
session.add_all([
    User('wendy', 'Wendy Williams', 'foobar'),
    User('mary', 'Mary Contrary', 'xxg527'),
    User('fred', 'Fred Flinstone', 'blar')])

In [9]:
#두번째 예시
class Movie(Base):
    __tablename__ = 'movies'
    id = Column(Integer, primary_key=True)
    date = Column(Integer)
    rank = Column(Integer)
    movieNm = Column(String(30))
    movieCd = Column(Integer)
    salesAmt = Column(Integer)
    audiCnt = Column(Integer)

Movie.__table__.create(bind=engine, checkfirst=True)

2021-07-06 02:51:08,076 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-06 02:51:08,079 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("movies")
2021-07-06 02:51:08,082 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-06 02:51:08,085 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("movies")
2021-07-06 02:51:08,087 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-06 02:51:08,092 INFO sqlalchemy.engine.Engine
CREATE TABLE movies (
	id INTEGER NOT NULL,
	date INTEGER,
	rank INTEGER,
	"movieNm" VARCHAR(30),
	"movieCd" INTEGER,
	"salesAmt" INTEGER,
	"audiCnt" INTEGER,
	PRIMARY KEY (id)
)


2021-07-06 02:51:08,095 INFO sqlalchemy.engine.Engine [no key 0.00264s] ()
2021-07-06 02:51:08,097 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
#세션 생성 및 엔진 연결
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [12]:
#데이터 인서트
movie_list=Movie(date=20190625, rank=1, movieNm='토이 스토리4', movieCd=12345, salesAmt=1234545123,audiCnt=342)

session.add(movie_list)
session.commit()

2021-07-06 02:56:52,497 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-06 02:56:52,512 INFO sqlalchemy.engine.Engine INSERT INTO movies (date, rank, "movieNm", "movieCd", "salesAmt", "audiCnt") VALUES (?, ?, ?, ?, ?, ?)
2021-07-06 02:56:52,520 INFO sqlalchemy.engine.Engine [generated in 0.00705s] (20190625, 1, '토이 스토리4', 12345, 1234545123, 342)
2021-07-06 02:56:52,526 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
result = session.query(Movie).all()
for row in result:
  print(row.date,row.rank,row.movieNm,row.movieCd,row.salesAmt,row.audiCnt)

2021-07-06 02:57:56,368 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-06 02:57:56,378 INFO sqlalchemy.engine.Engine SELECT movies.id AS movies_id, movies.date AS movies_date, movies.rank AS movies_rank, movies."movieNm" AS "movies_movieNm", movies."movieCd" AS "movies_movieCd", movies."salesAmt" AS "movies_salesAmt", movies."audiCnt" AS "movies_audiCnt"
FROM movies
2021-07-06 02:57:56,382 INFO sqlalchemy.engine.Engine [generated in 0.00401s] ()
20190625 1 토이 스토리4 12345 1234545123 342